.main {
  min-height: 120vh; // para que la barra de scroll ya aparezca en el medio y no entorpezca las animaciones
  font-family: $nunito;
}
.hero {
  @include padding-y(7rem, 4rem);
  @include fondoHero;
  color: $amarillo;
  .row {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    .bienvenida {
      @include padding-y(0, 2rem);
      font-weight: bold;
      h2 {
        font-size: 40px;
      }
    }
    .cajaHeroLogo {
      @include flexColumn(0, unset, center);
      .heroLema {
        font-weight: bold;
        align-self: flex-end;
      }
    }
  }
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: $verde;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tienda {
  font-family: $nunito;
  .barraBusqueda {
    @include padding(2rem);
    @include flexColumn(inherit, unset, center);
    @include fondoVerde;
    .buscador {
      @include flex(1rem, center, inherit);
      @include sizes(80%, auto);
      @media (min-width: 992px) {
        & {
          @include sizes(50%, auto);
        }
      }
      .form-control {
        &:focus {
          @include boxShadowBusqueda;
        }
      }
    }
  }
  .filtros {
    @include padding(1rem);
    .categorias {
      @include flexColumn(inherit, unset, unset);
      .categoriaContenedor {
        @include padding(0.5rem);
        .categoria {
          @include padding-y(0, 0.5rem);
          font-size: 1rem;
          list-style: none;
          cursor: pointer;
          @media (min-width: 992px) {
            & {
              padding: 0;
              font-size: 1.3rem;
            }
          }
          &:hover {
            @include fadeIn;
            transform: skewX(-10deg);
          }
        }
        .subcategorias {
          display: none;
          list-style: none;
          padding-left: 0.5rem;
          h5 {
            @include padding-y(1rem, 0.5rem);
          }
          .subcategoria {
            cursor: pointer;
            @include padding-y(0, 1rem);
            @media (min-width: 992px) {
              & {
                padding: 0;
              }
            }
          }
          .subcategoria:hover {
            @include fadeIn;
            transform: skewX(-10deg);
          }
        }
      }
    }
  }
  .grillaProductos {
    @include grillaProductos;
    .tarjeta {
      @include tarjetaProducto;
      &:hover {
        background-color: rgba(169, 172, 131, 0.15);
      }
      .tarjetaCuerpo {
        @include sizes(auto, 100%);
        @include flexColumn(inherit, space-between, unset);
        .cajaImagen {
          position: relative;
          padding-top: 100%;
          .imagen {
            @include fotos;
          }
        }
        .nombre {
          padding-top: 0.5rem;
          align-self: center;
          font-size: 1rem;
          text-align: center;
          p {
            margin-bottom: 0;
          }
        }
        .cuotas {
          align-self: center;
          text-align: center;
          @include padding-y(1rem, 1rem);
          .texto {
            font-size: 0.9rem;
          }
          .precioCuotas {
            font-size: 1.2rem;
            font-weight: bold;
            @media (min-width: 572px) {
              & {
                font-size: 1.4rem;
              }
            }
          }
        }
        .precio {
          align-self: center;
          font-size: 0.7rem;
          max-height: 50px;
        }

        .agregar {
          @include padding-x(0.5rem, 0.5rem);
          margin-top: 0.5rem;
          align-self: center;
          font-weight: bold;
        }
        &:hover .agregar {
          @include fondoVerde;
          transform: skewX(-15deg);
        }
      }
    }
  }
}
.offcanvas-header {
  @include fondoVerde;
  .offcanvas-title {
    font-weight: bold;
  }
  button {
    background-image: url("../img/btnClose.png");
    &:focus {
      box-shadow: none;
    }
  }
}
.carritoContainer {
  .titulo {
    padding-bottom: 2rem;
  }
  .carrito {
    @include flexColumn(2rem, unset, unset);
    .productoCarrito {
      @include flex(1rem, unset, unset);
      min-height: 80px;
      .cajaImagen {
        position: relative;
        min-width: 96px;
        img {
          @include fotos;
        }
      }
      .infoProducto {
        @include sizes(100%, auto);
        @include padding-x(1rem, 1rem);
        @include flexColumn(1rem, unset, unset);
        font-size: 1rem;
        .texto {
          overflow: hidden;
          max-height: 48px;
        }
        .precioYbotones {
          @include sizes(100%, auto);
          @include flex(inherit, space-between, unset);
          .botones {
            @include flex(0.5rem, center, center);
            .botonRestar {
              cursor: pointer;
            }
            .botonSumar {
              cursor: pointer;
            }
          }
        }
      }
      .botonEliminar {
        cursor: pointer;
        justify-self: flex-start;
      }
    }
  }
}
.total {
  padding-top: 2rem;
  @include flex(inherit, space-between, center);
  p {
    margin: 0;
  }
}
.botonesCarrito {
  padding-top: 2rem;
  @include flex(inherit, space-between, flex-end);
  .limpiarCarrito {
    @include fondoVerde;
    font-weight: bold;
  }
  .comprarCarrito {
    @extend .limpiarCarrito;
  }
}

.finalizarCompra {
  font-family: $nunito;
  .tituloFinalizar {
    padding-top: 1rem;
    @include fondoVerde;
    gap: 1rem;
    align-content: center;
    flex-direction: column;
    text-align: center;
    h2,
    h4 {
      font-weight: bold;
    }
  }
}
.carritoYdatos {
  font-family: $nunito;
  justify-content: center;
  table {
    border-collapse: separate;
    border-spacing: 0 2rem;
    @media (min-width: 768px) {
      & {
        width: 80%;
      }
    }
    @media (min-width: 992px) {
      & {
        width: 70%;
      }
    }
    @media (min-width: 1200px) {
      & {
        width: 60%;
      }
    }
    .columnaImagen {
      width: 2.3rem;
      @media (min-width: 576px) {
        width: 3.8rem;
      }
    }
    th,
    tr {
      font-size: 1rem;
      @media (min-width: 576px) {
        & {
          font-size: 0.8rem;
        }
      }
    }
    td {
      vertical-align: middle;
    }
    .fila {
      height: 4rem;
    }
    .cajaImagenTabla {
      position: relative;
      padding-left: 100%;
      img {
        @include fotos;
        min-width: 0.1rem;
        @media (min-width: 576px) {
          & {
            min-width: 2rem;
          }
        }
      }
    }
    .total {
      display: table-row;
    }
    .botones {
      @include flex(0.5rem, flex-start, center);
    }
    .botonRestar,
    .botonSumar,
    .botonEliminar {
      cursor: pointer;
    }
  }
}
.cajaFormulario {
  @include fondoVerde;
  flex-direction: column;
  align-content: center;
  align-items: center;
  .formularioTitulo {
    @include padding-y(2rem, 2rem);
    text-align: center;
  }
  .finalizarCompraForm {
    flex-direction: column;
    align-content: center;
    align-items: center;
    @media (min-width: 992px) {
      & {
        width: 50%;
      }
    }
    h4 {
      padding-top: 1rem;
      text-align: center;
    }
    .form-floating {
      box-shadow: $sombra1;
      color: black;
    }
    .form-select {
      align-self: center;
    }
    .tarjeta {
      gap: 0.01rem;
    }
    .btnFinalizarCompra {
      background-color: $verdeOscuro;
      color: $amarillo;
    }
  }
}
