html {
  --lh: 1.4rem;
  line-height: var(--lh);
}
main {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: 50vh 1fr;
  grid-template-areas:
    "hero hero hero"
    "filtros productos carrito";
}
.filtros {
  grid-area: filtros;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.carritoContainer {
  grid-area: carrito;
  padding: 2rem;
}
.hero {
  grid-area: hero;
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgb(17, 29, 43);
  h2 {
    font-family: $roboto;
    position: relative;
    color: rgba(17, 0, 255, 0.808);
    font-size: 2rem;
  }
  p {
    @extend h2;
  }
}
.productos {
  grid-area: productos;
  padding: 2rem;
  .row {
    gap: 2rem;
    justify-content: center;
    .card {
      .card-title {
        text-align: center;
      }
      .card-body {
        justify-content: space-between;
        h5 {
          text-align: center;
        }
      }
    }
  }
}
.botonEliminar:hover {
  cursor: pointer;
}
.carritoContainer {
  .titulo {
    padding-bottom: 2rem;
  }
  .carrito {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    .productoCarrito {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      max-height: 80px;
      .texto {
        white-space: initial;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
html {
  --lh: 1.4rem;
  line-height: var(--lh);
}
.total {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.filtros {
  ul {
    cursor: pointer;
    ul {
      display: none;
    }
  }
}
