.hero {
  position: relative;
  @include padding-y(5rem, 0);
  @include flexColumn(inherit, unset, center);
  @include fondoVerde;
  font-family: $roboto;
}
.tienda {
  @include padding(0);
  @include sizes(100%, auto);
  @include grillaTienda;
  .barraBusqueda {
    grid-area: barraBusqueda;
    @include padding(2rem);
    @include flexColumn(inherit, unset, center);
    @include fondoVerde;
    .buscador {
      @include flex(1rem, center, inherit);
      @include sizes(80%, auto);
      .form-control {
        @include sizes(40%, auto);
        &:focus {
          @include boxShadorBusqueda;
        }
      }
      .btn {
        color: $blanco;
        background-color: $verdeOscuro;
      }
    }
  }
  .filtros {
    grid-area: filtros;
    @include padding(1rem);
    .categorias {
      @include flexColumn(inherit, unset, inherit);
      .categoriaContenedor {
        @include padding(0.5rem);
        .categoria {
          font-size: 1rem;
          list-style: none;
          cursor: pointer;
          &:hover {
            @include fadeIn;
          }
        }
        .subcategorias {
          @include padding(0rem);
          display: none;
          list-style-position: initial;
          list-style: none;
          h5 {
            padding-top: 1rem;
          }
          .subcategoria {
            cursor: pointer;
          }
          .subcategoria:hover {
            @include fadeIn;
          }
        }
      }
    }
  }
  .grillaProductos {
    @include grillaProductos;
    .tarjeta {
      @include tarjetaProducto;
      .tarjetaCuerpo {
        @include sizes(auto, 100%);
        @include flexColumn(inherit, space-between, inherit);
        .cajaImagen {
          position: relative;
          padding-top: 100%;
          .imagen {
            @include fotos;
          }
        }
        .nombre {
          padding-top: 1rem;
          align-self: center;
          font-size: 1.2rem;
        }
        .cuotas {
          align-self: center;
          text-align: center;
          @include padding-y(2rem, 2rem);
          .texto {
            font-size: 0.9rem;
          }
          .precioCuotas {
            font-size: 2rem;
            font-weight: bold;
          }
        }
        .precio {
          align-self: center;
          font-size: 0.7rem;
          max-height: 50px;
        }

        .agregar {
          padding-top: 1rem;
          align-self: center;
          font-weight: bold;
        }
        &:hover .agregar {
          color: $rojo;
        }
      }
    }
  }
}
.carritoContainer {
  .titulo {
    padding-bottom: 2rem;
  }
  .carrito {
    @include flexColumn(2rem, unset, unset);
    .productoCarrito {
      @include flex(1rem, unset, unset);
      min-height: 80px;
      .cajaImagen {
        position: relative;
        min-width: 96px;
        img {
          @include fotos;
        }
      }
      .infoProducto {
        @include sizes(100%, auto);
        @include padding-x(1rem, 1rem);
        @include flexColumn(1rem, unset, unset);
        font-size: 1rem;
        .texto {
          overflow: hidden;
          max-height: 48px;
        }
        .precioYbotones {
          @include sizes(100%, auto);
          @include flex(inherit, space-between, unset);
          .botones {
            @include flex(0.5rem, center, center);
            .botonRestar {
              cursor: pointer;
            }
            .botonSumar {
              cursor: pointer;
            }
          }
        }
      }
      .botonEliminar {
        cursor: pointer;
        justify-self: flex-start;
      }
    }
  }
}
.total {
  padding-top: 2rem;
  @include flex(inherit, space-between, center);
  p {
    margin: 0;
  }
  .limpiarCarrito {
    background-color: $verde;
    color: $negro;
    font-weight: bold;
  }
}
