// mixin para height y width
@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}
// mixin para padding horizontal y padding vertical
@mixin padding-y($padding-top, $padding-bottom) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}
@mixin padding-x($padding-right, $padding-left) {
  padding-right: $padding-right;
  padding-left: $padding-left;
}
@mixin padding($padding) {
  padding: $padding;
}
@mixin margin-y($margin-top, $margin-bottom) {
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
}
// mixin para filtro y transición de las fotos
@mixin fotos {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@mixin flex($gap, $justify-content, $align-items) {
  display: flex;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin flexColumn($gap, $justify-content, $align-items) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin grillaTienda {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    "barraBusqueda barraBusqueda"
    "filtros productos";
  font-family: $roboto;
  @media (min-width: 992px) {
    & {
      grid-template-columns: 1fr 3fr;
    }
  }
  @media (min-width: 1200px) {
    & {
      grid-template-columns: 1fr 4fr;
    }
  }
  @media (min-width: 1400px) {
    & {
      grid-template-columns: 2fr 10fr;
    }
  }
}
@mixin grillaProductos {
  grid-area: productos;
  display: grid;
  grid-template-columns: repeat(1, minmax(3 00px, 1fr));
  align-items: center;
  @media (min-width: 768px) {
    & {
      grid-template-columns: repeat(2, minmax(275px, 1fr));
    }
  }
  @media (min-width: 992px) {
    & {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
  }
  @media (min-width: 1200px) {
    & {
      gap: 1rem;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }
  @media (min-width: 1400px) {
    & {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
  }
}
@mixin boxShadorBusqueda {
  border-color: rgb(16, 85, 90);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(16, 85, 90);
}
@mixin fadeIn {
  -webkit-animation: fadeIn 0.9s;
  animation: fadeIn 0.9s;
}
@mixin fondoVerde {
  background-color: $verde;
  color: $negro;
}
@mixin categoria {
  font-size: 20px;
  border-radius: 30px;
  list-style: none;
  cursor: pointer;
}
@mixin tarjetaProducto {
  grid-area: auto/span 1;
  display: block;
  position: relative;
  @include padding(1rem);
  top: 0;
  transition: all 0.1s ease-in;
  box-shadow: $sombra1;
  color: $gris;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $gris;
    top: -2px;
    box-shadow: $sombra2;
  }
}
