$roboto: "Roboto", sans-serif;
$negro: black;
$blanco: white;
$verde: rgb(79, 90, 79);
$verdeOscuro: rgb(14, 33, 34);
$sombra1: 0 2px 5px rgba(0, 0, 0, 0.1);
$sombra2: 0 4px 5px rgba(0, 0, 0, 0.2);
$gris: #444;
$rojo: red;
