* {
  margin: 0;
  padding: 0;
}

.texto {
  margin: 0;
}

.header--nav {
  font-family: "Roboto", sans-serif;
  background-color: #4f5a4f;
}

.header--nav img {
  height: 50px;
  width: auto;
}

.header--nav ul {
  text-decoration: none;
}

.header--nav ul li a {
  color: black;
}

.header--nav ul li a:hover {
  color: black;
  font-weight: bold;
}

.header--nav ul li a img {
  cursor: pointer;
  height: 40px;
}

.hero {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: inherit;
  justify-content: unset;
  align-items: center;
  background-color: #4f5a4f;
  color: black;
  font-family: "Roboto", sans-serif;
}

.tienda {
  padding: 0;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "barraBusqueda barraBusqueda" "filtros productos";
  font-family: "Roboto", sans-serif;
}

@media (min-width: 992px) {
  .tienda {
    grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 1200px) {
  .tienda {
    grid-template-columns: 1fr 4fr;
  }
}

@media (min-width: 1400px) {
  .tienda {
    grid-template-columns: 2fr 10fr;
  }
}

.tienda .barraBusqueda {
  grid-area: barraBusqueda;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: inherit;
  justify-content: unset;
  align-items: center;
  background-color: #4f5a4f;
  color: black;
}

.tienda .barraBusqueda .buscador {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: inherit;
  height: auto;
  width: 80%;
}

.tienda .barraBusqueda .buscador .form-control {
  height: auto;
  width: 40%;
}

.tienda .barraBusqueda .buscador .form-control:focus {
  border-color: #10555a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #10555a;
}

.tienda .barraBusqueda .buscador .btn {
  color: white;
  background-color: #0e2122;
}

.tienda .filtros {
  grid-area: filtros;
  padding: 1rem;
}

.tienda .filtros .categorias {
  display: flex;
  flex-direction: column;
  gap: inherit;
  justify-content: unset;
  align-items: inherit;
}

.tienda .filtros .categorias .categoriaContenedor {
  padding: 0.5rem;
}

.tienda .filtros .categorias .categoriaContenedor .categoria {
  font-size: 1rem;
  list-style: none;
  cursor: pointer;
}

.tienda .filtros .categorias .categoriaContenedor .categoria:hover {
  -webkit-animation: fadeIn 0.9s;
  animation: fadeIn 0.9s;
}

.tienda .filtros .categorias .categoriaContenedor .subcategorias {
  padding: 0rem;
  display: none;
  list-style-position: initial;
  list-style: none;
}

.tienda .filtros .categorias .categoriaContenedor .subcategorias h5 {
  padding-top: 1rem;
}

.tienda .filtros .categorias .categoriaContenedor .subcategorias .subcategoria {
  cursor: pointer;
}

.tienda .filtros .categorias .categoriaContenedor .subcategorias .subcategoria:hover {
  -webkit-animation: fadeIn 0.9s;
  animation: fadeIn 0.9s;
}

.tienda .grillaProductos {
  grid-area: productos;
  display: grid;
  grid-template-columns: repeat(1, minmax(3 0px, 1fr));
  align-items: center;
}

@media (min-width: 768px) {
  .tienda .grillaProductos {
    grid-template-columns: repeat(2, minmax(275px, 1fr));
  }
}

@media (min-width: 992px) {
  .tienda .grillaProductos {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (min-width: 1200px) {
  .tienda .grillaProductos {
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (min-width: 1400px) {
  .tienda .grillaProductos {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

.tienda .grillaProductos .tarjeta {
  grid-area: auto/span 1;
  display: block;
  position: relative;
  padding: 1rem;
  top: 0;
  transition: all 0.1s ease-in;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

.tienda .grillaProductos .tarjeta:hover {
  color: #444;
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: inherit;
  justify-content: space-between;
  align-items: inherit;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo .cajaImagen {
  position: relative;
  padding-top: 100%;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo .cajaImagen .imagen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo .nombre {
  padding-top: 1rem;
  align-self: center;
  font-size: 1.2rem;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo .cuotas {
  align-self: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo .cuotas .texto {
  font-size: 0.9rem;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo .cuotas .precioCuotas {
  font-size: 2rem;
  font-weight: bold;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo .precio {
  align-self: center;
  font-size: 0.7rem;
  max-height: 50px;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo .agregar {
  padding-top: 1rem;
  align-self: center;
  font-weight: bold;
}

.tienda .grillaProductos .tarjeta .tarjetaCuerpo:hover .agregar {
  color: red;
}

.carritoContainer .titulo {
  padding-bottom: 2rem;
}

.carritoContainer .carrito {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: unset;
  align-items: unset;
}

.carritoContainer .carrito .productoCarrito {
  display: flex;
  gap: 1rem;
  justify-content: unset;
  align-items: unset;
  min-height: 80px;
}

.carritoContainer .carrito .productoCarrito .cajaImagen {
  position: relative;
  min-width: 96px;
}

.carritoContainer .carrito .productoCarrito .cajaImagen img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.carritoContainer .carrito .productoCarrito .infoProducto {
  height: auto;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: unset;
  align-items: unset;
  font-size: 1rem;
}

.carritoContainer .carrito .productoCarrito .infoProducto .texto {
  overflow: hidden;
  max-height: 48px;
}

.carritoContainer .carrito .productoCarrito .infoProducto .precioYbotones {
  height: auto;
  width: 100%;
  display: flex;
  gap: inherit;
  justify-content: space-between;
  align-items: unset;
}

.carritoContainer .carrito .productoCarrito .infoProducto .precioYbotones .botones {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.carritoContainer .carrito .productoCarrito .infoProducto .precioYbotones .botones .botonRestar {
  cursor: pointer;
}

.carritoContainer .carrito .productoCarrito .infoProducto .precioYbotones .botones .botonSumar {
  cursor: pointer;
}

.carritoContainer .carrito .productoCarrito .botonEliminar {
  cursor: pointer;
  justify-self: flex-start;
}

.total {
  padding-top: 2rem;
  display: flex;
  gap: inherit;
  justify-content: space-between;
  align-items: center;
}

.total p {
  margin: 0;
}

.total .limpiarCarrito {
  background-color: #4f5a4f;
  color: black;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */